<!DOCTYPE html>
<html>
  <head>    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    失败
    <% error %>
   
    <a  href="./">返回</a>
    <p>
    	
    <p>
    
  </body>
</html>

